<div class="container">
  <h2>Individual rankings based on the games played</h2>
  <p>
    <u><b>Points balance calculation</b></u><br>
    Let's say player A, plays a set of three games against player B, and the scores look like the following<br>
    11-6, 10-12, 16-14<br>
    Points earned by player A: (11 + 10 + 16) - (6 + 12 + 14) = 5
  </p><br>
  <table class="table table-striped table-bordered table-responsive">
    <thead style="background-color: #ffc219; color: black; font-weight: bold">
    <tr>
      <td>Ranking</td>
      <td>Participant Name</td>
      <td>Total Wins</td>
      <td>Points Balance</td>
      <td>Won Against</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let participant of individualRanking; let rank = index" [attr.data-index]="i" >
      <td>{{rank+1}}</td>
      <td>{{participant.name}}</td>
      <td>{{participant.victories}}</td>
      <td>{{participant.points}}</td>
      <td>{{participant.wonAgainst}}</td>
    </tr>
    </tbody>
  </table>
</div>
