<div class="container-fluid">
  <h1>Momentum Sports Challenge - Table Tennis</h1>
</div>

<div id="exTab1" class="container-fluid">
  <ul class="nav nav-pills">
    <li class="active"><a href="#1a" data-toggle="tab">Teams</a></li>
    <li><a href="#2a" data-toggle="tab">Team Rankings</a></li>
    <li><a href="#3a" data-toggle="tab">Individual Ranking</a></li>
    <li><a href="#4a" data-toggle="tab">Past Matches</a></li>
    <li><a href="#5a" data-toggle="tab">Update Score</a></li>
  </ul>
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <h3 style="color: black"> Click to see the participants:</h3><br>
      <ul class="list-group">
        <li *ngFor="let team of teams" class="list-group-item list-group-item-info"
            [class.selected]="team === selectedTeam" (click)="onSelect(team.id)" style="background-color: #ffc219;color: black; font-weight: bold;">
          <span>{{team.name}} - {{team.color}}</span>
        </li>
      </ul>
      <customer-detail [participants]="participants"></customer-detail>
    </div>
    <div class="tab-pane" id="2a">
      <team-rankings></team-rankings>
    </div>
    <div class="tab-pane" id="3a">
      <individual-rankings></individual-rankings>
    </div>
    <div class="tab-pane" id="4a">
      <single-game></single-game>
    </div>
    <div class="tab-pane" id="5a">
      <h3>Capture Score</h3>
      <score-recording></score-recording>
    </div>
  </div>
</div>
<!-- Start of SimpleHitCounter Code -->
<div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2300755&f=16777215&b=0" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">web counter</a></div>
<!-- End of SimpleHitCounter Code -->
