<div class="container">
  <h2>Team rankings based on the games played</h2>
  <table class="table table-striped table-bordered table-responsive">
    <thead style="background-color: #ffc219; color: black; font-weight: bold">
    <tr>
      <td>Team Name</td>
      <td>Victory Points</td>
      <td>Points Balance</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teamRanking" >
      <td>{{team.name}}</td>
      <td>{{team.points}}</td>
      <td>{{team.pointBalance}}</td>
    </tr>
    </tbody>
  </table>
</div>
