<div [hidden]="submitted" class="container">
  <h3>Single Game</h3>

  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

    <div class="row form-group">
      <div class="col-sm-5" style="background-color:lavender;">
        <div class="row">
          <label for="player1">Player 1</label>
        </div>
        <div class="row">
          <select class="form-control form-control-lg" id="player1" required [(ngModel)]="model.power" name="power">
            <option [value]="null">Please choose</option>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-2" style="background-color:lavenderblush;">
        Vs
      </div>
      <div class="col-sm-5" style="background-color:lavender;">
        <div class="row">
          <label for="player1">Player 1</label>
        </div>
        <div class="row">
          <select class="form-control form-control-lg" id="player1" required [(ngModel)]="model.power" name="power">
            <option [value]="null">Please choose</option>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>
      </div>
    </div>

    <div [hidden]="hideAuth" class="row form-group">
      <div class="row">
        <div class="col-sm-2">
          <label for="player1">Captain ID</label></div>
        <div class="col-sm-8"><input type="password" class="form-control"></div>
        <div class="col-sm-2">
          <button type="Verify" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </div>
      </div>
    </div>

    <div [hidden]="hideScoringSheet" class="row form-group">
      <div class="row">
        <div class="col-sm-3">
          <label class="alignright">Game 1</label>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-success" [disabled]="!heroForm.form.valid" (click)="open()">Submit</button>
        </div>
      </div>
    </div>
    <div [hidden]="hideScoringSheet" class="row form-group">
      <div class="row">
        <div class="col-sm-3">
          <label class="alignright">Game 2</label>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </div>
      </div>
    </div>
    <div [hidden]="hideScoringSheet" class="row form-group">
      <div class="row">
        <div class="col-sm-3">
          <label class="alignright">Game 3</label>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </div>
      </div>
    </div>
    <div [hidden]="hideScoringSheet" class="row form-group">
      <div class="row">
        <div class="col-sm-3">
          <label class="alignright">Game 4</label>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </div>
      </div>
    </div>
    <div [hidden]="hideScoringSheet" class="row form-group">
      <div class="row">
        <div class="col-sm-3">
          <label class="alignright">Game 5</label>
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <input type="number" class="form-control">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>
