<div [hidden]="submitted" class="container">

  <form #authForm="ngForm">
    <div [hidden]="hideAuth" class="row form-group">
      <div class="row">
        <div class="col-sm-2"  style="white-space: nowrap">
          <label for="captainPassword">Captain ID</label></div>
        <div class="col-sm-8">
          <input
            type="password"
            id="captainPassword"
            name="captainPassword"
            required
            ngModel
            class="form-control"></div>
        <div class="col-sm-2">
          <button type="button"
                  class="btn btn-success"
                  [disabled]="!authForm.form.valid"
                  (click)="verifyCaptain(authForm.value.captainPassword)">Set Captain ID
          </button>
        </div>
      </div>
    </div>
  </form>
  <form #scoringForm="ngForm">

    <div>
      <h3 align="center"><u>Single Game</u></h3>
      <div class="row form-group">
        <div class="col-sm-5">
          <div class="row">
            <label for="player1">Player 1</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedFirstPlayerId"
                    name="firstPlayerCombo"
                    required
                    id="player1"
                    (change)="onFirstPlayerChange($event)"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the first player</option>
              <option *ngFor="let player of firstPlayerInput" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
        </div>
        <!--<div class="col-sm-2">-->
          <!--Vs-->
        <!--</div>-->
        <div class="col-sm-5">
          <div class="row">
            <label for="player2">Player 2</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedSecondPlayerId"
                    required
                    name="secondPlayerCombo"
                    id="player2"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the opponent player</option>
              <option *ngFor="let player of secondPlayerInput" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game1Player1Points">Game 1</label>
            </div>
            <div class="col-sm-3 field">
              <input
                type="number"
                id="game1Player1Points"
                name="game1Player1Points"
                ngModel
                value="0"
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                ngModel
                id="game1Player2Points"
                name="game1Player2Points"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game2Player1Points">Game 2</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game2Player1Points"
                name="game2Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game2Player2Points"
                name="game2Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game3Player1Points">Game 3</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game3Player1Points"
                name="game3Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game3Player2Points"
                name="game3Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game4Player1Points">Game 4</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game4Player1Points"
                name="game4Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game4Player2Points"
                name="game4Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game5Player1Points">Game 5</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game5Player1Points"
                name="game5Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="game5Player2Points"
                name="game5Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button
            style="width:inherit"
            type="submit"
            class="btn btn-success"
            [disabled]="!scoringForm.form.valid"
            (click)="saveGames(scoringForm.value)">Save Games
          </button>
        </div>
      </div>
    </div>
  </form>
  <br>
  <br>
  <form #doubleScoringForm="ngForm">
    <div>
      <h3 align="center"><u>Double Game</u></h3>
      <div class="row form-group">
        <div class="col-sm-5" style="background-color:lavender;">
          <div class="row">
            <label for="team1Player1">Team 1 - Player 1</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedTeam1Player1Id"
                    name="team1Player1"
                    required
                    id="team1Player1"
                    (change)="onFirstTeamPlayer1Change($event)"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the first player</option>
              <option *ngFor="let player of firstPlayerInput" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
          <div class="row">
            <label for="player1">Team 1 - Player 2</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedTeam1Player2Id"
                    name="team1Player2"
                    required
                    id="team1Player2"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the first player</option>
              <option *ngFor="let player of team1Player2Collection" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-2" style="background-color:lavenderblush;">
          Vs
        </div>
        <div class="col-sm-5" style="background-color:lavender;">
          <div class="row">
            <label for="player2">Team 2 - Player 1</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedTeam2Player1Id"
                    required
                    name="team2Player1"
                    id="team2Player1"
                    (change)="onSecondTeamPlayer1Change($event)"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the opponent player</option>
              <option *ngFor="let player of team2Player1Collection" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
          <div class="row">
            <label for="player2">Team 2 - Player 2</label>
          </div>
          <div class="row">
            <select [(ngModel)]="selectedTeam2Player2Id"
                    required
                    name="team2Player2"
                    id="team2Player2"
                    class="form-control form-control-lg">
              <option [value]="null">Please choose the opponent player</option>
              <option *ngFor="let player of team2Player2Collection" [value]="player.id">{{player.firstName}}
                {{player.lastName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="fields">
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="doubleGame1Player1Points">Game 1</label>
            </div>
            <div class="col-sm-3 field">
              <input
                type="number"
                id="doubleGame1Player1Points"
                name="doubleGame1Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame1Player2Points"
                name="doubleGame1Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game2Player1Points">Game 2</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame2Player1Points"
                name="doubleGame2Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame2Player2Points"
                name="doubleGame2Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game3Player1Points">Game 3</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame3Player1Points"
                name="doubleGame3Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                ngModel
                id="doubleGame3Player2Points"
                name="doubleGame3Player2Points"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game4Player1Points">Game 4</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame4Player1Points"
                name="doubleGame4Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame4Player2Points"
                name="doubleGame4Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="row">
            <div class="col-sm-3">
              <label class="alignright" for="game5Player1Points">Game 5</label>
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame5Player1Points"
                name="doubleGame5Player1Points"
                ngModel
                class="form-control">
            </div>
            <div class="col-sm-3">
              <input
                type="number"
                id="doubleGame5Player2Points"
                name="doubleGame5Player2Points"
                ngModel
                class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button
            style="width:inherit"
            type="submit"
            class="btn btn-success"
            [disabled]="!doubleScoringForm.form.valid"
            (click)="saveDoubleGames(doubleScoringForm.value)">Save Games
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
